*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: font-family: Arial, sans-serif;
    font-size: 16px;
}
.header-bar img {
    border-radius: 5px;
}
.header-bar{
    border: 1px solid #ccc;
}
.header-bar .header-bar--content{
    width: 600px;
    margin: auto;
    position: relative;
}
.header-bar nav{
    position: absolute;
    right: 0;
    top: 16px;
}
.header-bar nav ul li {
    list-style: none;
    display: inline-block;
}
.header-bar nav span {
    text-decoration: none;
    color: #333333;
    padding: 5px;
}
.header-bar nav .header-bar--title:hover {
    color: #d62828;
}
.header-bar nav li ul{
    position: absolute;
    top: 30px;
    background
}
.header-bar nav li ul li {
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    width: 150px;
}
.header-bar .header-bar--content li ul li{
    display: none;
}
.header-bar nav .header-bar--title:hover ul  {
    display: block;
}
.header-bar .header-bar--content ul li ul li .header-bar--text01:hover {
    color: red;
    background-color: #ffffff;
}