*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family:Arial, sans-serif;
    font-size: 16px;
}
img{
    border-radius: 10px;
    display: inline-block;
    position: absolute;
    left: -50px;
}
.header-content{
    border-bottom: 1px solid black;
}
.header-content .content{
    width: 600px;
    margin: auto;
    position: relative;
}
.header-content .content nav ul li {
    list-style: none;
    display: block;
    padding: 16px;
}
ul li .news1 {
    font-weight: bold;
}
.sub-menu-1 {
    position: absolute;
    border: 1px solid #ccc;
    background: #ffffff;
    width: 150px;
    display: none;
}
.sub-menu-2 {
    position: absolute;
    border: 1px solid #ccc;
    background: #ffffff;
    top: 1px;
    left: 150px;
    width: 150px;
    display: none;
}
.sub-menu-1 li {
    display: block;
    padding: 8px;
    position: relative;
}
.sub-menu-1 li:hover {
    background-color: #f5f5f5
}
.news:hover > .news1 {
    color: #d62828;
}
.news:hover > .sub-menu-1{
    display:block;
}
.sub-menu-1 li:hover > .sub-menu-2 {
    display: block;
}
.sub-menu-2 li:hover {
    color:#d62828;
}
.sub-menu-1 li:hover span {
    color:#d62828;
}
.arrow {
    position: absolute;
    top: 25px;
    right: 15px;
    border-width: 5px;
    border-style: solid;
    border-color: black  transparent transparent transparent;
}
.arrow-left {
    position: absolute;
    top: 20px;
    left: 130px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}
.header-content .content > nav .news {
    display: inline-block;
    padding-right: 30px;
}
.news {
    position: relative;
}