*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family:Arial, sans-serif;
    font-size: 16px;
}
img{
    border-radius: 10px;
}
.header-content{
    border-bottom: 1px solid black;
}
.header-content .content{
    width: 600px;
    margin: auto;
    position: relative;
}
.header-content .content nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px;
}
ul li .news1 {
    font-weight: bold;
}
.sub-menu-1 {
    position: absolute;
    border: 1px solid #ccc;
    background: #ffffff;
    width: 150px;
    /*display: none;*/
}
.sub-menu-2 {
    position: absolute;
    border: 1px solid #ccc;
    background: #ffffff;
    top: 50px;
    left: 150px;
    width: 120px;
    /*display: none;*/
}
.sub-menu-1 li:hover {
    background-color: #f5f5f5
}
