*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: font-family: Arial, sans-serif;
    font-size: 16px;
}
.header-bar img {
    border-radius: 5px;
}
.header-bar{
    border: 1px solid #ccc;
}
.header-bar .header-bar--content{
    width: 600px;
    margin: auto;
    position: relative;
}
.header-bar nav{
    position: absolute;
    right: 0;
    top: 16px;
}
.header-bar nav ul li {
    list-style: none;
    display: inline-block;
}
.header-bar nav span {
    text-decoration: none;
    color: #333333;
    padding: 5px;
}
.header-bar nav .header-bar--title:hover {
    color: #d62828;
}
.header-bar nav li ul{
    position: absolute;
    top: 30px;
    background
}
.header-bar nav li ul li {
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
}
.header-bar .header-bar--content ul li ul :hover{
    color: red;
}
.header-bar .header-bar--content ul li ul {
    display: none;
}
.header-bar .header-bar--content ul li:hover ul {
    display: block;
    position: absolute;
    width: 125px;
    top: 22px;
    background-color: #ffffff;
}
.header-bar--arrow {
    position: absolute;
    right: 10px;
}
.sub-menu-1 li:hover {
    background: #f5f5f5;
}
.sub-menu-2 {
    position: absolute;
    bottom: 100px;
    left: 125px;
}
