*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
.header-item{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0 12px;
    border-radius: 60px;
}
.header-logo{
    width: 50px;
    height: 50px;
}
.header-logo-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 40px;
}
.navigation {
    margin-left: 100px;
}
.menu {
    display: flex;
}
.menu-item{
    position: relative;
    display: flex;
    align-items: center;
    transition: all 0.05s ease;
}
.menu-link{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 24px;
}
.menu-item:hover .menu-link {
    background-color: rgba(211, 143, 211, 0.3);
    border-radius: 50px;
    color: rgb(211, 143, 211);
}
.menu-item:hover .menu-sub{
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}
.menu-sub{
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: white;
    opacity: 0;
    visibility: hidden;
    transform: translateY(12px);
    transition: all 0.05s ease;
    border-radius: 10px;
    padding: 16px;
}
.sub-menu-link{
    display: flex;
    padding: 4px 8px;
    border-radius: 10px;
}
.menu-sub-child-link{
    display: flex;
    padding: 4px 8px;
    border-radius: 10px;
}
.menu-sub-item{
    position: relative;
}
.menu-sub-item:hover .sub-menu-link{
    background-color: rgba(211, 143, 211, 0.3);
    color: rgb(211, 143, 211);
}
.menu-sub-child-item:hover .menu-sub-child-link{
    background-color: rgba(211, 143, 211, 0.3);
    color: rgb(211, 143, 211);
}
.menu-sub-child-item-2:hover .menu-sub-child-link-2{
    background-color: rgba(211, 143, 211, 0.3);
    color: rgb(211, 143, 211);
}
.menu-sub-child-item-3:hover .menu-sub-child-link-3{
    background-color: rgba(211, 143, 211, 0.3);
    color: rgb(211, 143, 211);
}
.menu-sub-child-item-4:hover .menu-sub-child-link-4{
    background-color: rgba(211, 143, 211, 0.3);
    color: rgb(211, 143, 211);
}
.menu-sub-child{
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    background-color: white;
    opacity: 0;
    visibility: hidden;
    transform: translateX(12px);
    transition: all 0.05s ease;
    border-radius: 10px;
    padding: 16px;
}
.menu-sub-item:hover .menu-sub-child{
    opacity: 1;
    visibility: visible;
    transform: translateX(0px);
}
.menu-sub-child-2{
    position: absolute;
    top: 90px;
    left: 100%;
    width: 100%;
    background-color: white;
    opacity: 0;
    visibility: hidden;
    transform: translateX(12px);
    transition: all 0.05s ease;
    border-radius: 10px;
    padding: 16px;
}
.menu-sub-child-item:hover .menu-sub-child-2{
    opacity: 1;
    visibility: visible;
    transform: translateX(0px);
}
.menu-sub-child-3{
    position: absolute;
    top: 50px;
    left: 100%;
    width: 100%;
    background-color: white;
    opacity: 0;
    visibility: hidden;
    transform: translateX(12px);
    transition: all 0.05s ease;
    border-radius: 10px;
    padding: 16px;
}
.menu-sub-child-item-2:hover .menu-sub-child-3{
    opacity: 1;
    visibility: visible;
    transform: translateX(0px);
}
.menu-sub-child-4{
    position: absolute;
    top: 50px;
    left: 100%;
    width: 100%;
    background-color: white;
    opacity: 0;
    visibility: hidden;
    transform: translateX(12px);
    transition: all 0.05s ease;
    border-radius: 10px;
    padding: 16px;
}
.menu-sub-child-item-3:hover .menu-sub-child-4{
    opacity: 1;
    visibility: visible;
    transform: translateX(0px);
}