*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
.header-item{
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 0 12px;
    border-radius: 60px;
    position: fixed;
    width: 90%;
    height: 90px;
    left: 0;
    right: 0;
    top: 10px;
    margin: 0 auto;
}
.header-logo{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.header-logo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
}
.navigation {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.menu {
    display: flex;
}
.menu-item{
    position: relative;
    display: flex;
    align-items: center;
    transition: all 0.05s ease;
    width: 160px;
}
.menu-link{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 24px;
}
.menu-item:hover .menu-link {
    background-color: rgba(211, 143, 211, 0.3);
    border-radius: 50px;
    color: rgb(211, 143, 211);
}
.menu-item:hover .menu-sub{
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}
.menu-sub{
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: #fff;
    border: 1.5px solid #ececec;
    opacity: 0;
    visibility: hidden;
    transform: translateY(12px);
    transition: all 0.05s ease;
    border-radius: 12px;
    padding: 4px 8px;
}
.sub-menu-link{
    display: flex;
    justify-content: space-between;
    padding: 4px 12px;
    border-radius: 12px;
}
.menu-sub-child-link{
    display: flex;
    padding: 4px 12px;
    border-radius: 12px;
}
.menu-sub-child-link-2{
    display: flex;
    padding: 4px 12px;
    border-radius: 12px;
}
.menu-sub-child-link-3{
    display: flex;
    padding: 4px 12px;
    border-radius: 12px;
}
.menu-sub-child-link-4{
    display: flex;
    padding: 4px 12px;
    border-radius: 12px;
}
.menu-sub-item{
    position: relative;
}
.menu-sub-item:hover .sub-menu-link{
    background-color: rgba(211, 143, 211, 0.3);
    color: rgb(211, 143, 211);
}
.menu-sub-child-item:hover .menu-sub-child-link{
    background-color: rgba(211, 143, 211, 0.3);
    color: rgb(211, 143, 211);
}
.menu-sub-child-item-2:hover .menu-sub-child-link-2{
    background-color: rgba(211, 143, 211, 0.3);
    color: rgb(211, 143, 211);
}
.menu-sub-child-item-3:hover .menu-sub-child-link-3{
    background-color: rgba(211, 143, 211, 0.3);
    color: rgb(211, 143, 211);
}
.menu-sub-child-item-4:hover .menu-sub-child-link-4{
    background-color: rgba(211, 143, 211, 0.3);
    color: rgb(211, 143, 211);
}
.menu-sub-child{
    position: absolute;
    top: -10px;
    left: calc(100% + 9px);
    width: 120%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transform: translateX(12px);
    transition: all 0.05s ease;
    border-radius: 10px;
    padding: 16px;
}
.menu-sub-child:before{
    position: absolute;
    top: 8px;
    left: -8px;
    content: "";
    display: inline-block;
    width: 8px;
    height: 28px;
    background: transparent;
}
.menu-sub-child-2:before{
    position: absolute;
    top: 8px;
    left: -16px;
    content: "";
    display: inline-block;
    width: 24px;
    height: 28px;
    background: transparent;
}
.menu-sub-child-3:before{
    position: absolute;
    top: 8px;
    left: -16px;
    content: "";
    display: inline-block;
    width: 24px;
    height: 28px;
    background: transparent;
}
.menu-sub-child-4:before{
    position: absolute;
    top: 8px;
    left: -16px;
    content: "";
    display: inline-block;
    width: 28px;
    height: 28px;
    background: transparent;
}
.menu-sub-item:hover .menu-sub-child{
    opacity: 1;
    visibility: visible;
    transform: translateX(0px);
}
.menu-sub-child-2{
    position: absolute;
    top: 90px;
    left: 100%;
    width: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transform: translateX(12px);
    transition: all 0.05s ease;
    border-radius: 10px;
    padding: 16px;
}
.menu-sub-child-item:hover .menu-sub-child-2{
    opacity: 1;
    visibility: visible;
    transform: translateX(0px);
}
.menu-sub-child-3{
    position: absolute;
    top: 80px;
    left: 100%;
    width: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transform: translateX(12px);
    transition: all 0.05s ease;
    border-radius: 10px;
    padding: 16px;
}
.menu-sub-child-item-2:hover .menu-sub-child-3{
    opacity: 1;
    visibility: visible;
    transform: translateX(0px);
}
.menu-sub-child-4{
    position: absolute;
    top: 80px;
    left: 100%;
    width: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transform: translateX(12px);
    transition: all 0.05s ease;
    border-radius: 10px;
    padding: 16px;
}
.menu-sub-child-item-3:hover .menu-sub-child-4{
    opacity: 1;
    visibility: visible;
    transform: translateX(0px);
}
.footer-login{
    position: relative;
    display: inline-flex;
}
.ok{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 128px;
    height: 48px;
    border-radius: 50px;
    padding: 16px;
    border: 2px solid #e2e8f0;
    font-weight: 600;
    color: #334155;
    font-size: 16px;
    background-color: #fff;
}
.login:hover{
    background-color: rgba(168, 85, 247, 0.1);
    border-color: #9333ea;
}
.start{
    background-color: #a855f7;
    color: #fff;
    border: none;
}
.start:hover{
    background-color: #9333ea;
}